[Unit]
Description=Garmin Data Bridge Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# TODO: Replace with your username and install path
User=%REPLACE_USER%
WorkingDirectory=%REPLACE_PATH%
ExecStart=%REPLACE_PATH%/run.sh
TimeoutStartSec=120
